{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Password Reset Complete
{% endblock page_title %}

{% block content %}
<main>
    <section>
        <div class="main-wrapper">
            <article class="card form-card">
                <h2 class="text-xlg mb-xlg">Password Reset Complete</h2>
                <p class="text-md mb-lg">Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}" class="button button_lg button_primary">Log In</a>
            </article>
        </div>
    </section>
</main>
{% endblock content %}