{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Reset Password
{% endblock page_title %}

{% block content %}
<style>
    input {
        width: 100%;
        padding: 1.2rem 1.5rem;
        border: 0.2rem solid var(--color-lighter);
        border-radius: var(--radius);
        outline: none;
        background-color: var(--color-tertiary);
        transition: var(--transition);
    }

    input:focus {
        border: 0.2rem solid var(--color-primary);
    }
</style>

<main>
    <section>
        <div class="main-wrapper">
            <article class="card form-card">
                <a href="{% url 'login' %}" class="mb-xlg tag tag_circle tag_default">
                    <img src="{% static 'img/icons/angle-left.svg' %}">
                </a>
                <h2 class="text-xlg mb-xxsm">Reset Password</h2>
                <p class="text-md mb-xlg">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-md form__group">
                        <label class="mb-xxsm form__label form__label_required">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="button button_lg button_primary">Send Email</button>
                </form>
            </article>
        </div>
    </section>
</main>
{% endblock content %}