{% extends 'base.html' %}

{% block page_title %}
Page Not Found
{% endblock page_title %}

{% block content %}
<main>
    <section>
        <div class="main-wrapper">
            <article class="card text-center error-card">
                <h1 class="text-xxlg text-danger error-card__number">404</h1>
                <h2 class="text-lg mb-xlg">Page Not Found</h2>
                <p class="text-sm text-light">
                    The page you are looking for could not be found. It might have been removed, renamed or did not
                    exist in the first place.
                </p>
            </article>
        </div>
    </section>
</main>
{% endblock content %}